@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #191034;
  color: #9e91c1;
  font-family: "Lato";
}

.unlu-container {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  padding: 80px 30px;
}

.unlu-img img {
  /* width: 23vw;
  height: 42vw; */
  object-fit: cover;
  border-radius: 5px;
}

.unlu-img {
  padding: 10px 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.unlu-text {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.unlu-header {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(240, 234, 255, 0.1);
  margin-bottom: 10px;
}

.unlu-header h1 {
  font-size: 2.4vw;
  color: white;
  margin-bottom: 1.5vw;
}

.unlu-header p {
  font-size: 1.5vw;
}

.unlu-course p {
  font-size: 1.3vw;
  margin: 1.1vw 0 0.5vw 0;
  line-height: 1.6;
}

.course-part h3 {
  margin: 1vw 0 0.5vw 0;
  font-size: 1.5vw;
  color: white;
}

.unlu-rating p {
  margin-bottom: -5px;
}

.unlu-rating span {
  margin-left: 1.5vw;
}

.unlu-url {
  color: white;
  font-size: 1.1vw;
  margin-top: 20px;
  background-color: hsla(0, 0%, 100%, 0.06);
  border: 1px solid rgba(240, 234, 255, 0.1);
  padding: 0 0px 0 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.unlu-rating {
  margin-top: 5vw;
}

.unlu-rating .fa-star {
  font-size: 1.25vw;
  color: gold;
}

.unlu-url a {
  color: white;
  text-decoration: none;
  margin: 15px 0;
}

.unlu-url span {
  cursor: pointer;
  border-left: 1px solid rgba(240, 234, 255, 0.1);
  padding: 10px 20px;
}

.unlu-btn {
  background-color: hsla(0, 0%, 100%, 0.29);
  position: absolute;
  top: 78%;
  left: 46%;
  transform: translate(-50%, 100%);
  padding: 0.6vw 1vw;
  border: none;
  width: 65%;
  cursor: pointer;
  border-radius: 10px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.unlu-btn button {
  color: white;
  font-weight: 800;
  font-size: 1.2vw;
  background-color: transparent;
  border: none;
}

.unlu-btn .fa-play-circle {
  color: white;
  font-size: 2vw;
}

.dnone {
  display: none;
}

.side-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
  width: 100%;
  background-color: #241d4c;
  padding: 20px 30px 10px 20px;
  border-radius: 10px;
}

.side-about {
  padding-bottom: 65px;
}

.side-header {
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.side-header h1 {
  font-size: 1.5vw;
  color: white;
  margin-bottom: 1.5vw;
}

.side-header p {
  font-size: 1.1vw;
}

.unlu-about p {
  margin-bottom: 20px;
  font-size: 1vw;
  font-weight: 700;
}

.unlu-about {
  border-bottom: 1px solid rgba(240, 234, 255, 0.1);
}

.unlu-offer {
  align-items: center;
  text-align: center;
  margin: 2.5vw 0 1.5vw 0;
  font-size: 1.2vw;
  font-weight: 700;
}

.unlu-button1 {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  margin: 5px 0 0 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 5px;
  background-color: rgb(236, 3, 147);
  background-image: linear-gradient(
    to top left,
    rgba(236, 158, 12, 0.2),
    rgba(240, 127, 21, 0.2) 30%,
    rgb(247, 139, 16)
  );
}

.bi-award,
.bi-display,
.bi-book,
.bi-circle,
.bi-credit-card {
  border-radius: 40px;
  color: #ec09b3;
  background-color: #191034;
  box-shadow: inset 2px 2px 3px rgba(255, 5, 122, 0.6),
    inset -2px -2px 3px rgb(171, 23, 230);
}
.unlu-button2 {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1em;
  margin: 0 0 0 30px;
  color: #ff8467;
  border: 1px solid #ec09b3;
  border-radius: 5px;
  background-color: #191034;
  border-color: #ff8467;
}

@media screen and (max-width: 1150px) {
  .dnone {
    display: block;
  }

  .unlu-main {
    margin-top: 32px !important;
  }

  .dn {
    display: none;
  }

  .unlu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
  }

  .unlu-img {
    padding: 10px;
  }

  .unlu-img img {
    width: 60vw;
    height: 80vw;
    border-radius: 10px;
    object-fit: cover;
    align-self: center;
  }

  .unlu-text {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-height: none;
    margin-top: -75px;
  }

  .unlu-header h1 {
    font-size: 7vw;
    margin-top: 60px;
    color: #fff;
  }

  .unlu-header p {
    font-size: 4vw;
    margin-top: 5px;
  }

  .unlu-header {
    border-bottom: 1px solid rgba(240, 234, 255, 0.1);
    width: 100%;
  }

  .unlu-rating {
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(240, 234, 255, 0.1);
    margin-top: -6px;
  }

  .unlu-rating p {
    font-size: 3.5vw;
    margin-bottom: 3px;
    margin-top: 10px;
  }

  .unlu-rating span {
    margin-left: 20px;
  }

  .unlu-rating .fa-star {
    font-size: 3.5vw;
    margin-left: 2px;
  }

  .unlu-url {
    align-self: center;
    padding: 0px 0 0 15px;
    font-size: 4vw;
    margin: 10px 20px 0 25px;
  }

  .unlu-url span {
    cursor: pointer;
    border: none;
    color: #9e91c1;
  }

  .unlu-url .fa-copy {
    margin-right: 20px;
  }

  .course-part {
    padding: 20px 40px 20px 30px;
    align-items: center;
    justify-content: center;
    text-align: start;
  }

  .course-part h3 {
    font-size: 5vw;
  }

  .course-part p {
    font-size: 3.5vw;
    font-weight: 500;
  }

  .unlu-less {
    padding-bottom: 10px;
  }

  .unlu-btn {
    background-color: hsla(0, 0%, 100%, 0.29);
    position: absolute;
    top: 62%;
    left: 50%;
    padding: 4vw 2.5vw;
    border: none;
    width: 80%;
    cursor: pointer;
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  .unlu-btn button {
    color: white;
    font-weight: 600;
    font-size: 4vw;
    background-color: transparent;
    border: none;
  }

  .unlu-btn .fa-play-circle {
    font-size: 5.3vw;
  }

  .unlu-feat {
    padding: 6vw 0;
    display: grid;
    grid-template-columns: auto auto;
    width: 100vw;
    justify-content: center;
  }

  .unlu-feat p {
    color: #fff;
    font-family: CircularStd-Book;
    font-size: 3vw;
    margin: 2vw 3vw;
    display: flex;
  }

  .unlu-btn-1 {
    position: fixed;
    bottom: 10px;
    padding: 0 0;
  }
}

/* style addded by dma */
.unlu-main {
  margin-top: 100px;
}
.unlu-container {
  padding: 10px;
}

.unlu-btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unlu-text {
  justify-content: space-between;
}

.unlu-button1 {
  margin: 0 auto;
}

.unlu-btn-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.unlu-button2 {
  margin: 0 auto;
}
